body{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reloj{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 3em;
    font-weight: bolder;
}
#mi-canvas{
    cursor: pointer;
}
.boton{
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 1em;
    font-weight: bolder;
    padding: .5em;
    border-radius: 15px;
}
.boton:hover{
    background-color: green;
    color: white;
}