body{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reloj{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 3em;
    font-weight: bolder;
}